services: 

#Konfiguracja Cowrie (SSH/TELNET)
  cowrie: 
   image: cowrie/cowrie:latest 
   container_name: COWRIE  
   restart: always 
   ports: 
    - "2222:2222" 
    - "2223:2223" 
   networks:
    honeynet:
     ipv4_address: 172.25.0.10 
   volumes: 
      - ./cowrie_logs:/cowrie/cowrie-git/var/log/cowrie
      - ./cowrie_downloads:/cowrie/cowrie-git/var/lib/cowrie/downloads
   deploy:
    resources:
     limits:
      cpus: '0.50'
      memory: 512M
   healthcheck: 
    test: ["CMD", "netstat", '-an', "|", "grep", "2222"]
    interval: 30s
    timeout: 10s
    retries: 3
   logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"
#Konfiguracja Dionaea
  dionaea:
   image: dinotools/dionaea:latest
   container_name: DIONAEA
   restart: always
   ports:
    - "21:21"
    - "42:42" 
    - "135:135" 
    - "8445:445" 
    - "1433:1433"
    - "3306:3306"
    - "5060:5060"
    - "5061:5061"
   networks: 
    honeynet:
     ipv4_address: 172.25.0.11
   volumes: 
   - ./dionaea_data:/opt/dionaea/var/lib/dionaea 
   - ./dionaea_logs:/opt/dionaea/var/log/dionaea  
  
   healthcheck:
    test: ["CMD-SHELL", "netstat -an | grep 445 || exit 1"]
    interval: 30s
    timeout: 10s
    retries: 3
    start_period: 20s
   deploy:
    resources:
     limits:
      cpus: '0.50'
      memory: 512M
   logging:
    driver: "json-file"
    options:
     max-size: "100m"
     max-file: "3"
#Konfiguracja Real-Os
  real-os:
   build: ./real-os 
   container_name: REAL-OS 
   restart: always
   privileged: true 
   ports:
    - "2224:22" 
   networks:
    honeynet:
     ipv4_address: 172.25.0.12
   volumes:
    - ./real-os/logs:/var/log  
   deploy:
    resources:
     limits: 
      cpus: "2.0"
      memory: "2G"
   healthcheck:
    test: ["CMD", "service", "ssh", "status"]
    interval: 45s
    timeout: 10s
    retries: 3
   logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"
#Konfiguracja Snort NIDS
  snort:
    image: linton/docker-snort:latest
    container_name: snort
    restart: always
    network_mode: "host"
    cap_add:
     - NET_ADMIN #capability
    volumes:
      - ./snort_logs:/var/log/snort
      - ./snort_rules/local.rules:/etc/snort/rules/local.rules
    #-q (quiet) i- eth0 (interface) -A console (list attacks) -c ....conf (path to config file) --pcap-filter (ignore
    #all traffic at port 22, because its our local connection, we have 2222)
    command: snort -A console -q -c /etc/snort/etc/snort.conf -i bridge-honeypot
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
#Wirtualny switch
networks:
 honeynet:
  driver: bridge #virtual switch
  driver_opts:
    com.docker.network.bridge.name: bridge-honeypot #NAZWA KARTY SIECIOWEJ dla snorta
  ipam: #IP Address Management (use standard addresation)
   driver: default
   config:
    - subnet: 172.25.0.0/24 #range from 172.25.0.1 - 172.25.0.254
